.navbar-custom {
    background-color: #424B4C;
    margin-left:-15px;
    margin-right:-15px;
}
@media (max-width: 767px) {.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse{
  background-color: #424B4C!important;
  }
}
@media (max-width: 767px){.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{
  color: #000;
}}
.navbar-inverse .navbar-nav>li>a{
  background-color: transparent !important;
  color: #fff !important;
  margin-left: 30px;
}
.navbar-inverse .navbar-nav > li > a:hover{
  background-color: transparent;
  color: #fff !important;
}
@media (min-width: 768px){.navbar-inverse .navbar-nav > li > a:hover{
  background-color: transparent;
  color: #fff;
}}
@media (min-width: 768px){ a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: #AFCFEF;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: .25s linear;
}}
.navbar-inverse .navbar-toggle .icon-bar{
  background-color: #000 !important;
}
.navbar-inverse .navbar-toggle{
  border-color: transparent;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
  background-color: #ebe4bd !important;
  border-color: transparent;
}

#name{
  margin-left: 20px;
  padding: 15px;
  padding-bottom: 5px;
  font-size: 15px;
  position: absolute;
  font: Arial, Helvetica, sans-serif;
  color: #fff;
  text-decoration: none;
}
@media (min-width: 768px){#name{
  color: #fff;
  }}
@media (min-width: 768px){#link:hover:before,
#link:focus:before {
  visibility: visible;
  transform: scaleX(1);
}}
#link a{margin:0;padding:0;border:0 none;position: relative; outline: none;}
li > a{
  padding-bottom: 7px !important;
  margin-bottom: 8px;
}
