# Ignore all dotfiles except this file.
.*
!/.gitignore

# Ignore custom.
other/
couch/

# Ignore user directories.
Desktop/
Documents/
Downloads/
Library/
Music/
Pictures/
Public/
Templates/
Videos/
node_modules/
package-lock.json
dist/
uploads/*
!uploads/.gitkeep
