<!DOCTYPE html>
<html>
	<head>
		<%- include('../head', {title: "Resources"}) %>
	</head>
	<body>
		<%- include('../navbar', {}) %>

		<div class="paper">
			<!-- Calendar -->
			<div id="wrapper">
				<div class="container-fluid">
					<div id="bumper"></div>
					<h1 class="Club_name">Resources</h1>
					<hr class="title-divider">
					<div class="row">
						<div class="col-sm-12 profile">
							<a href="https://teamtreehouse.com">Team Treehouse</a>
							<p> Ever want to learn a new language or skill, but didn't know where to start? Team Treehouse offers a variety of tutorials and video tutorials that help you walk through the fundamentals of whichever topic you may be exploring.</p>
							<p> Since this is a paid resource that is currently funded by SCU ACM, please contact the ACM president for login credentials</p>
						</div>
					</div>
					<br>
					<br>

					<div class="row">
						<div class="col-sm-12 profile">
							<a href="http://learning.acm.org/">ACM Learning Center</a>
							<p> If you are a paid member of ACM, you can sign in to find access to loads of information from the Learning Center.</p>
							<p> Once you sign in, you'll find a wealth of useful Ebooks, informative Webinars, a number of video courses you can follow and more!</p>
						</div>
					</div>
					<br>
					<br>

					<div class="row">
						<div class="col-sm-12 profile">
							<a href="http://technews.acm.org/archives.cfm">ACM Tech News</a>
							<p> ACM's Tech News is a compiled list of headlines and updates within the computing community.</p>
						</div>
					</div>
					<br>
					<br>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="/js/navbar.js"></script>
	</body>
</html>
