<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112269442-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-112269442-1');
</script>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<title><%= title %></title>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic" rel="stylesheet" type="text/css">

<link rel="stylesheet" type="text/css" href="/css/shared.css">
<link rel="stylesheet" type="text/css" href="/css/vendor/bootstrap.css">

<!-- Form Styling -->
<link href="https://cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
    #mc_embed_signup {
        clear: left;
        font: 18px Helvetica,Arial,sans-serif;
    }

    input {
        color: black;
    }
</style>

<link rel="icon" type="image/png" href="/public/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/public/favicon-96x96.png" sizes="96x96">
<link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon">
<link rel="icon" href="/public/favicon.ico" type="image/x-icon">

<script type="text/javascript" src="/js/vendor/jquery.js"></script>
<script type="text/javascript" src="/js/vendor/bootstrap.js"></script>