/* ---- reset ---- */

html, body {
	font-family: 'Open Sans', sans-serif !important;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	margin: 0;
	font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
	display: block;
	vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #18b69a;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

/* ---- stats.js ---- */

.count-particles {
	background: #000022;
	position: absolute;
	top: 48px;
	left: 0;
	width: 80px;
	color: #13E8E9;
	font-size: .8em;
	text-align: left;
	text-indent: 4px;
	line-height: 14px;
	padding-bottom: 2px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
}

.js-count-particles {
	font-size: 1.1em;
}

#stats, .count-particles {
	-webkit-user-select: none;
	margin-top: 5px;
	margin-left: 5px;
}

#stats {
	border-radius: 3px 3px 0 0;
	overflow: hidden;
}

.count-particles {
	border-radius: 0 0 3px 3px;
}

/*******************************************************************************
 ********************************** HOMEPAGE ***********************************
 ******************************************************************************/

#break {
	padding: 7vw;
	pointer-events: none !important;
}

h1 {
	text-align: center;
	width: 100%;
	color: #FFFFFF;
	margin-left: 0;
	font-size: 1200%;
	font-weight: 700;
	margin-bottom: 0;
}

#text {
	position: absolute;
	top: -webkit-calc(50% - 100px);
	top: -moz-calc(50% - 100px);
	top: calc(50% - 100px);
	margin: auto;
	text-align: center;
	width: 100%;
	pointer-events: none;
}

#def {
	text-align: center;
	width: 100%;
	margin-bottom: 5px;
	margin-top: -6px;
	color: #FFFFFF;
	font-size: 270%;
}

#def2 {
	text-align: center;
	width: 100%;
	margin-bottom: 0;
	color: #FFFFFF;
	font-size: 210%;
	font-style: italic;
	font-weight: 300;
}

#info {
	text-align: center;
	color: #FFFFFF;
	font-size: 200%;
	margin-right: 15%;
	letter-spacing: 3px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

#dank-line {
	width: 25%;
	margin-top: 0;
}

::-webkit-scrollbar {
	display: none;
}

.navbar-custom {
	pointer-events: none;
}

#acm-navbar {
	pointer-events: auto;
}

#email {
	margin-top: 28vw;
	text-align: center;
	width: 100%;
	margin-bottom: 0;
	position: absolute;
	color: #FFFFFF;
	font-size: 1.5vw;
}

#name {
	padding: 15px;
	font-size: 18px;
	position: absolute;
	font: Arial, Helvetica, sans-serif;
	color: #000;
}

@media (min-width: 768px) {
	#name {
		color: #fff;
	}
}
