html {
	width: 100%;
	min-height: 100%;
	font-family: 'Open Sans', sans-serif !important;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow-x: hidden;
	color: #fff !important;
	font-weight: 400 !important;
	font-family: 'Open Sans', sans-serif !important;
}

/* -------------------- Paper Body --------------------*/

.paper {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 96%;
	z-index: 4;
	top: 75px;
	margin-left: 2.5%;
}

#name {
	padding: 15px;
	font-size: 15px;
	position: absolute;
	color: #000;
}

@media (min-width: 768px) {
	#name {
		color: #fff;
	}
}

html {
	width: 100%;
	background: #232a35;
}

h1 {
	margin-left: 5%;
}

h2 {
	margin-left: 20px;
	margin-right: 20px;
}

textarea.form, button.form, select.form {
	color: black;
}

#wrapper {
	bottom: 0;
	left: 0;
	background: #18b69a;
	width: 87%;
	z-index: 4;
	top: 300px;
	margin: auto;
}

.img {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 250px;
	top: 400px;
}

h1 {
	text-align: center;
	margin-top: 125px;
	margin-bottom: 25px;
	font-weight: 700;
}

.Club_name {
	font-weight: 800;
	text-align: center;
	margin-top: 70px;
	margin-bottom: 25px;
	font-size: 340%;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.profile {
	padding-left: 20px !important;
	padding-right: 20px !important;
	text-align: left;
}

.prof-pic {
	width: 80%;
	max-width: 300px;
	height: auto !important;
}

.prof-title {
	margin-top: 5px;
	font-style: italic;
	line-height: 120%;
	text-align: center;
	font-size: 120%;
}

.prof-line {
	margin-top: 0;
	margin-bottom: 10px;
}

.prof-bio {
	font-size: 90%;
}

.title-divider {
	padding-left: 20px !important;
	padding-right: 20px !important;
	margin-bottom: 25px;
}

@media (min-width: 930px) {
	.prof-title {
		margin-top: 5px;
		font-style: italic;
		line-height: 120%;
		text-align: center;
		font-size: 135%;
	}
}

/* profiles get a bit too thin between the 768 to 930 px range
	so adjusting padding for more breathing room */

@media (min-width: 768px) and (max-width: 930px) {
	.profile {
		padding-left: 10px !important;
		padding-right: 10px !important;
		text-align: left;
	}
}

.email-link {
	transition: color 0.5s ease, text-decoration 0.5s ease;
	color: #FFF;
	text-decoration: none;
	font-size: 115%;
	font-weight: 300;
}

.email-link:hover {
	color: #232a35;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.connect-bubble {
	width: 60px;
	margin-left: 2%;
	margin-right: 2%;
	display: inline-block;
}

.connect-bubble > a > img {
	width: 100%;
}

@media (max-width: 768px) {
	.connect-bubble {
		width: 40px;
	}
}

.about-pic {
	width: 100%;
	max-width: 300px;
}

.about-header {
	width: 100%;
	max-width: 700px;
	margin-bottom: 10px;
}
