#loading {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

#calendar {
  color: #222;
  width: 100%;
  margin: 0 auto;
}

.fc-view > table {
  width: 100%;
}

.fc-view-container {
  background: #fefefe;
}

.fc-day-header > a {
  color: #222;
}

.fc-minor > .fc-widget-content {
  border: 0;
}

.fc-time {
  border: 0;
}

.fc-axis {
  border: 0;
}

.fc-day-grid-event .fc-content {
  white-space: normal;
}

.fc-day-grid-event {
  white-space: normal;
  overflow: hidden;
  height: 32px;
}

.fc-content {
  white-space: normal;
  height: 100%;
}

.fc-day-number {
  color: #222;
}

.fc-event {
  border: 1px;
  border-radius: 2px;
  border-color: transparent;
  margin-bottom: 1px;
}

.fc-center {
  color: white;
}
