
::-webkit-scrollbar  {
	display: none;
}

::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
		background: #ffb7b7; /* Gecko Browsers */
}

html,body{
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	margin:0; padding: 0;
	width: 100vw; min-height: 100vh;
	max-width: 100%;
	font-family: "Roboto", sans-serif;
	user-select: none;
	
}

*,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
b {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
	color: #fafafa;
	font-weight: 100;
	font-size: 56px;
	line-height: 56px;
	margin-bottom: 17px;
}
h1 b {
	color: #FF4444;
	font-weight: 300;
}
h2,
h3 {
	color: #ffffff;
	font-weight: 400;
	font-size: 20px;
	line-height: 32px;
	margin-bottom: 13px;
}
h2 b,
h3 b {
	color: #FF4444;
	font-weight: 400;
}
h4{
	color: #ddd;
}

#bg{
	width: 100vw; height: 95vh;
	background: url("bg2.jpg") no-repeat top center;
	background-size: cover;
	position: absolute;
	z-index: -1;

}

#home-container{
	background: url("pattern.png");
	background-color: rgba(23,23,23,.5);
	width: 100vw; height: 100vh;
	position: fixed;
	z-index: 0;
}


#about-container{
	width: 100vw; height: auto;
	position: absolute;
	margin-top:95vh;
	color:#EEE;

}

#about-interior{
	background: #FF4444;
	width: 100vw; height: auto;
	box-shadow: 0 10px 5px rgba(10,10,10,.5);
}

#left{
	float:left;
	width: 40vw;
	margin: 5%;
	height: 60vh;
}

#right{
	float:right;
	margin-top: 5%; margin-left: 5%; margin-right: 5%;
	background: url() no-repeat center center; 
	background-size: contain;
	width: 40%; height: 60vh;			
}

#next{
	width: 100vw; height: 100vh;
	background: url() no-repeat center center;
	background-size: cover;
	z-index: -5;
}

#phones{
	height: auto;
	width: 60%;
}

#backdrop{
	background: url("bg3.jpg") no-repeat center center;
	background-size:cover;
	z-index: -10;
	position: fixed;
	height: 100vh;width: 100vw;
}

#about-text-left{
	height: 65vh;
}

#about-text-right{
	height: 75vh;
}

ol,ul{
	list-style: none outside none;
}

li{
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 230%;
}

li b{
	color:#FF4444
}


#logo{
	background: url("logo.png") no-repeat center center;
	height: 120px; width: 43vw;
	margin: 0 auto 30px auto;
}

@media only screen and (max-width: 1080px){
	#logo{
		background-size: contain;
		width: 80vw;
		margin: 0 auto 0 auto;
	}

	#text{
		margin: 20vh auto 0 auto;
		text-align: center;
	}

	h1 {
		color: #fafafa;
		font-weight: 100;
		font-size: 46px;
		line-height: 46px;
		margin-bottom: 17px;
	}
	h1 b {
		color: #FF4444;
		font-weight: 300;
	}
	h2 {
		font-weight: 300;
		font-size: 20px;
	}
	h3 {
		color: #ffffff;
		font-weight: 400;
		font-size: 15px;
		line-height: 32px;
		margin-bottom: 13px;
	}
	h2 b,
	h3 b {
		color: #FF4444;
		font-weight: 400;
	}
}

@media only screen and (max-width: 767px){
	#phones{
		display: none;
	}
}

@media only screen and (max-width: 700px){

	#about-container{
		height: 300vh;
		margin-top: 90vh;
	}
}

p{
	line-height: 150%;
}

@media only screen and (min-width: 1600px){
	h2{
		font-size:30px;
	}

	p{
		font-size:110%;
		line-height: 130%;
	}

	#left{
		height: 50vh;
	}

	#about-text-left{
		height: 45vh;
	}

	#about-container{
		height: 200vh;
	}

	#about-interior{
		height: auto;
	}
}

#text{
	margin: 15vh auto 0 auto;
	text-align: center;
}


.button {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
	width: 56px;
	height: 56px;
	display: block;
	overflow: hidden;
	position: absolute;
	left: 50%;
	background: #fafafa;
	margin-left: -28px;
}
.button svg path {
	fill: #212121;
}
.button.top {
	top: -28px;
}
.button.bottom {
	bottom: -28px;
}

#slide{
	color: #DDD;
}

#faq-section{
	height:auto;width:100vw;
	margin:auto;
	text-align:center;
	background: rgba(46,100,254,.05);
}

.special-text{
	padding-top:5vh;
	padding-bottom: 5vh;
}

.question{
	color: #80FAA9;
}

.faq{
	padding-bottom: 20px;
	margin: auto;
}

.faq-wrapper{
	margin: auto;
	float: none;
}

.about{
	padding: 3.5%;
	padding-top: 5%;
	font-size: 110%;
	max-width: 100vw;
}

#sponsors{
	width: 100vw; min-height: 100vh;
	height: auto;
	background: #0E60FE;
	margin:auto;
	text-align:center;
}

.class{
	margin: 0;
}

a{
	font-family: "Roboto", sans-serif;
}

/*
.btn{
	border-radius: 2px;
	background-color: #FF4444;
	border-color:#CC4444;
}

.btn:hover, .btn:focus, .btn:active{
	background-color: #FF3333;
	border-color:#FF4444;
}
*/

.btn{ margin: 5px; border-radius: 2px; padding-left:20px; padding-right: 20px; padding-top: 8px;padding-bottom: 8px}

a:hover{
	text-decoration: none;
}

img.sponsor{
	max-width: 100%;
	height: auto;
}

.sponsor-container {
	background-color: rgba(230,230,255,.95);
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.sponsor-container .sponsor-image {
	max-width: 300px;
	display: inline-block; 
	padding: 20px;
}