::-webkit-scrollbar { width: 15px; background-color: rgba(34, 34, 34, .84); } 
::-webkit-scrollbar:horizontal{ display:none;}
::-webkit-scrollbar-track { background-color: #010101; opacity: 60%;} 
::-webkit-scrollbar-thumb { background-color: #222222; opacity: 60%;} 
::-webkit-scrollbar-thumb:hover { background-color: #444;} 
::-webkit-scrollbar-thumb:active { background-color: #333;} 

body{
	background-color: #4ea9f4 ;
	font-family: 'Cabin', sans-serif;
	font-size: 150%;
	line-height: 175%;
}

h1 { 
	font-family: ‘Metrophobic’, Arial, serif; 
	font-weight: 400; 
	text-shadow: #222 0.04em 0.04em 0.04em;
	z-index:inherit;
}

.bg-text{ color:#EEE; text-shadow: black 0.1em 0.1em 0.1em; z-index:inherit;}

#index{
	padding-top:10%;
	margin:0;
	margin-top:0%;
	height:100vh;
	background-image: url(images/hero.jpg);
	background-size: cover;
	background-position: 50% 0%;
	background-repeat: no-repeat no-repeat;
	color:#EEE;
	z-index:inherit;
}


.section{
	padding:2.5%;
	position: relative;
	height:100vh;
	background-size: cover;
	background-position: 50% 0%;
	background-repeat: no-repeat no-repeat;	
	z-index: 1;	
	color:#DDD				
}

.post{
	margin: -3%;
	margin-top:3%;
	padding:5%;
	position: relative;
	z-index: 4;
}

#about{ background-image: url(images/cool-water.gif);  }
#events{ background-image: url(images/cloud.jpg); }
#join{ background-image: url(images/astro.jpg); } 

.no-margin{	margin:0; }

.transparent, .post{ background-color: rgba(34, 34, 34, .85); }

.bg-video{
	margin-top:0;
	top:0;
	bottom:0;
	left:0;
	right:0;
	overflow:hidden;
	position:inherit;
}
.bg-video, video{
	margin:0;
	z-index:0;
	min-width:100%;
	min-height: 100vh;
	overflow: hidden;
}
video{
	z-index:-999;
}