#loading {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

#calendar {
  color: black;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.fc-view > table {
  width: 100%;
}

.fc-view-container {
  background: white;
}

.fc-day-header {
  color: black;
}

.fc-minor > .fc-widget-content {
  border: 0;
}

.fc-time {
  border: 0;
}

.fc-axis {
  border: 0;
}

.fc-day-number {
  color: black;
}

.fc-event {
  border-radius: 2px;
  border-color: transparent;
  margin-bottom: 1px;
}

.fc-center {
  color: white;
}
