/* ------------------------------------------ */
/* --------------- DEPRECATED --------------- */
/* ------------------------------------------ */

/* --------------- Overall --------------- */
*:after, *:before, * {
  box-sizing: border-box;
  font-family: arial;
}
body {
  background: #1D1F20;
}
.media {
   margin-top:55px !important;
   margin-left: 5%;
   margin-right: 5%;
   min-width: 550px;
}
.media-row {
  display: table-row;
  width: 33.333333%;
}
/*@media (m-width: 767px){ .media-row {
  width: 100%;
}*/


/* --------------- NavBar --------------- */



/* --------------- Calendar --------------- */
iframe {
  display: block;
  margin: 0 auto;
}


/* --------------- Event Photos --------------- */
.thumbnail {
  display: table-cell;
  background: #fff;
  border: 1px solid #333;
  overflow: hidden;
  position: relative;
  height: auto;
  width: 25%;
}
.thumbnail img {
  width: 100%;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.thumbnail .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 4;
  left: 0;
  top: 100%;
  text-align: center;
  color: #fff;
}
.thumbnail .overlay .zoom-btn {
  opacity: 0;
  top: 150px;
  -moz-transition: 0.4s 0.2s;
  -o-transition: 0.4s 0.2s;
  -webkit-transition: 0.4s;
  -webkit-transition-delay: 0.2s;
  -webkit-transition: 0.4s 0.2s;
          transition: 0.4s 0.2s;
}
.thumbnail .overlay h2 {
  position: relative;
  margin: 0 auto 15px;
  -moz-transition: 0.3s 0.25s;
  -o-transition: 0.3s 0.25s;
  -webkit-transition: 0.3s;
  -webkit-transition-delay: 0.25s;
  -webkit-transition: 0.3s 0.25s;
          transition: 0.3s 0.25s;
}
.thumbnail .overlay h7 {
  position: relative;
  margin: 0 auto 15px;
  -moz-transition: 0.3s 0.25s;
  -o-transition: 0.3s 0.25s;
  -webkit-transition: 0.3s;
  -webkit-transition-delay: 0.25s;
  -webkit-transition: 0.3s 0.25s;
          transition: 0.3s 0.25s;
  display: none;
}
.thumbnail.open {
  border-color: #222;
  pointer-events: none;
}
.thumbnail.open:after {
  content: '';
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 5;
  bottom: 0;
  border: 15px solid transparent;
  border-bottom-color: #222;
}
.thumbnail:hover img, .thumbnail.open img {
  -ms-transform: rotate(-45deg) scale(2);
  -webkit-transform: rotate(-45deg) scale(2);
  transform: rotate(-45deg) scale(2);
}
.thumbnail:hover .overlay, .thumbnail.open .overlay {
  top: 0;
}
.thumbnail:hover .overlay h2, .thumbnail.open .overlay h2 {
  margin-top: 20%;
}
.thumbnail:hover .overlay h7, .thumbnail.open .overlay h7 {
  margin-top: 20%;
}
.thumbnail:hover .overlay .zoom-btn, .thumbnail.open .overlay .zoom-btn {
  top: 0;
  opacity: 1;
}

.zoom-btn {
  position: relative;
  width: 15px;
  height: 15px;
  display: inline-block;
  border: 2px solid;
  color: #f00;
  border-radius: 100%;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  cursor: pointer;
}
.zoom-btn:before {
  content: '+';
  position: absolute;
  left: 2px;
  top: -4px;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.zoom-btn:after {
  content: '';
  position: absolute;
  width: 2px;
  height: 10px;
  background: #f00;
  top: 100%;
  left: 0;
  right: 0;
  margin: auto;
}

.media-view {
  position: relative;
  background: #232a35;
  padding: 10px;
  overflow: hidden;
  *zoom: 1;
  width: 100%;
  display: none;
}
.media-view .media-thump {
  width: 70%;
  float: left;
}
.media-view .media-thump img {
  width: 100%;
  max-width: 640px;
  margin: auto;
  display: block;
}
.media-view .media-info {
  float: left;
  width: 30%;
  padding: 10px;
  color: #fff;
}
.media-view .media-info h2 {
  margin: 15px auto;
}
.media-view .media-info h7 {
  margin: 15px auto;
}
.media-view .media-info p {
  color: #bbb;
}
.media-view .close {
  position: absolute;
  right: 10px;
  top: 5px;
  font-weight: 200;
  color: #fff;
  font-size: 24px;
  opacity: .6;
  cursor: pointer;
  z-index: 4;
}
/*.row{
  margin-top:50px !important;
}*/
#name{
  padding: 15px;
  font-size: 15px;
  position: absolute;
  font: Arial, Helvetica, sans-serif;
  color: #000;
}
@media (min-width: 768px){#name{
  color: #fff;
  }}
h1{
  color:#fff !important;
  margin-top:150px !important;
  margin-left: calc(5% + 15px)!important;
}
.Brocade{
  z-index: 1;
}
/*.row .extra1{
   display: inline;
   position: absolute;
   width: 100%;
}*/

/*.row .extra2{
   display: inline;
   left: 33.3333%;
   position: absolute;
   width: 100%;
}*/
/*
.row .extra3{
   right: 0%;
   display: inline;
   position: absolute;
   width: 100%;
}
*/