h1, input::-webkit-input-placeholder, button {
  font-family: 'roboto', sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}

form h1 {
  height: 100px;
  width: 100%;
  font-size: 18px;
  background: #18aa8d;
  color: white;
  line-height: 150%;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
  padding-top: 30px;
  margin-left: 0 !important;
}
body{
  /*background-color: #;*/
  font:normal 85% Arial, Helvetica, sans-serif;
}
form {
  box-sizing: border-box;
  /*width: 260px;*/
  /*margin: 100px auto 0;*/
  /*box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);*/
  padding-bottom: 40px;
  /*border-radius: 3px;*/
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 375px;
  /*background-color: #fff;*/
  border-radius:10px;
}
form h1 {
  box-sizing: border-box;
  padding: 20px;
  padding-top: 40px;
  padding-left: 55px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

input[type=email]{
  margin: 40px 25px;
  width: 200px;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #1abc9c;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
          transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  color: #0e6252;
  margin-top: 20px;
}
input:focus, input:valid{
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}
input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder{
  color: #1abc9c;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  visibility: visible !important;
}

form button {
  border: none;
  background: #1abc9c;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px;
  width: 200px;
  color: white;
  margin-left: 25px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  margin-top: 50px;
}
form button:hover {
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}

.follow {
  width: 42px;
  height: 42px;
  border-radius: 50px;
  background: #03A9F4;
  display: inline-block;
  margin: 50px calc(50% - 21px);
  white-space: nowrap;
  padding: 13px;
  box-sizing: border-box;
  color: white;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
  font-family: Roboto, sans-serif;
  text-decoration: none;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
}
.follow i {
  margin-right: 20px;
  -webkit-transition: margin-right 0.2s ease;
          transition: margin-right 0.2s ease;
}
.follow:hover {
  width: 134px;
  -webkit-transform: translateX(-50px);
      -ms-transform: translateX(-50px);
          transform: translateX(-50px);
}
.follow:hover i {
  margin-right: 10px;
}
#name{
  padding: 15px;
  font-size: 15px;
  position: absolute;
  /*font: Arial, Helvetica, sans-serif;*/
  color: #fff;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
  background-color: #18aa8d;
}
@media (max-width: 767px){
  .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    background-color: #18aa8d;
  }
}
.navbar-inverse .navbar-toggle .icon-bar{
  background-color: #fff;
}
.navbar-inverse .navbar-nav > li > a{
  color: #fff;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #fff;
  }
}
input[type='checkbox'] {
    -webkit-appearance:none;
    width:20px;
    height:20px;
    background:white;
    border-radius:3px;
    border:1px solid #696969;
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
}
input[type='checkbox']:checked {
    background: url("../img/checkmark.png");
    background-size: 100%;
}
input[type=checkbox][name="Club1"]{
  margin-left: 29px;
}
input[type=checkbox][name="Club2"]{
  margin-left: -10px;
}
.checkboxtext
{
  /* Checkbox text */
  font-size: 110%;
  display: inline;
  font:normal 85% Arial, Helvetica, sans-serif;
  top:-5px;
}
#error{
  width: 20px;
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}
.alert{
  /*isibility: hidden;*/
  margin-bottom: 0;
  padding: 10px;
  padding-bottom: 13px;
}
iframe{
  width: 600px;
  height: 500px;
}
@media (max-width: 767px){iframe{
  height: 500px !important;
  width: 350px;
}}
