<!DOCTYPE html>
<html>
	<head>
		<%- include('../head', {title: "About"}) %>
	</head>
	<body>
		<%- include('../navbar', {}) %>

		<div class="paper">
			<!-- Calendar -->
			<div id="wrapper">
				<div class="container-fluid">
					<div id="bumper"></div>
					<h1 class="Club_name">About</h1>
					<hr class="title-divider">
					<div class="row">
						<div class="col-sm-12 profile">
							<center><img class="about-header" src="img/acm-laser-tag.jpg"></center>
							<div class="col-sm-offset-1 col-sm-10">
								<p>ACM is Santa Clara’s premier organization for computer science and computer engineering. Our goal is to encourage the development of CS and CSE skills and to provide networking and community outreach opportunities for students at Santa Clara University.</p>
							</div>

							<div class="row text-center">
								<div class="col-sm-6 about-faq">
									<h3>What?</h3>
									<p>Workshops, Guest Speakers, Weekly Meetings</p>
								</div>
								<div class="col-sm-6 about-faq">
									<h3>Why?</h3>
									<p>To build a tight knit group of lifelong learners</p>
								</div>
								<div class="col-sm-6 about-faq">
									<h3>How?</h3>
									<p>With the help of an amazing board &amp; network of computer science enthusiasts at SCU</p>
								</div>
								<div class="col-sm-6 about-faq">
									<h3>When?</h3>
									<p>We usually have multiple events going on each week! Check our calendar in the Events tab!</p>
								</div>
							</div>
							<br />
							<hr>
							<br />
							<div class="row text-center">
								<h2 class="text-center">What are some of our events and activies?</h2>
								<div class="col-sm-4 about-tile">
									<center><a href="http://hackforhumanity.io/" target="_blank"><img src="img/hackathons.jpg" class="prof-pic about-pic"></a></center>
									<h3>Hackathons</h3>
									<p>Every year we host <i>Hack for Humanity</i>, SCU's social good hackathon</p>
								</div>
								<div class="col-sm-4 about-tile">
									<center><img src="img/workshop2.jpg" class="prof-pic about-pic"></center>
									<h3>Workshops</h3>
									<p>Our bi-weekly workshops are a great way to learn new tech</p>
								</div>
								<div class="col-sm-4 about-tile">
									<center><img src="img/speakers.jpg" class="prof-pic about-pic"></center>
									<h3>Speakers</h3>
									<p>Hear about exciting topics from guest speakers</p>
								</div>
							</div>
							<br />
							<hr>
							<div class="row">
								<div class="connect text-center">
									<h2>
										Connect with us!
									</h2>
								</div>
								<div class="text-center">
									<div class="col-xs-0 col-sm-2"></div>
									<div class="col-xs-12 col-sm-8">
										<div class="connect-bubble">
											<a href="https://www.facebook.com/groups/165822943541098/?ref=br_rs" target="_blank">
												<img src="img/logo-fb.png">
											</a>
										</div>
										<div class="connect-bubble">
											<a href="https://scuacm.slack.com" target="_blank">
												<img src="img/logo-slack.png">
											</a>
										</div>
										<div class="connect-bubble">
											<a href="https://github.com/scuacm" taget="_blank">
												<img src="img/logo-github.png">
											</a>
										</div>
										<div class="connect-bubble">
											<a href="mailto:santaclara.acm@gmail.com" target="_top">
												<img src="img/logo-email.png">
											</a>
										</div>
									</div>
									<div class="col-xs-0 col-sm-2"></div>
								</div>
							</div>
						</div>
					</div>
					<br>
					<br>
				</div>
			</div>
		</div>

	</body>
</html>
