<!DOCTYPE html>
<html>
	<head>
		<%- include('../head', {title: "New Board Member"}) %>
	</head>
	<body>
		<!-- Navbar -->
		<%- include('../navbar', {}) %>

		<!-- Content -->
		<div class="paper">
			<!-- Form -->
			<div id="wrapper">
				<div class="container-fluid">
					<div id="bumper"></div>
					<h1 class="Club_name">Add Board Member</h1>
					<hr class="title-divider">
					<div class="row">
						<div class="col-sm-12 profile">
							<center>
                                <div id="mc_embed_signup">
                                    <form action="" method="post" id="mc-embedded-subscribe-form" enctype="multipart/form-data" name="mc-embedded-subscribe-form">
                                        <div id="mc_embed_signup_scroll">
											<div class="mc-field-group">
												<label>Image </label>
												<input type="file" value="" name="icon" required>
											</div>
											<div class="mc-field-group">
												<label>Email Address</label>
												<input type="email" value="" name="email" required>
											</div>
											<div class="mc-field-group">
												<label>Name </label>
												<input type="text" value="" name="name" required>
											</div>
											<div class="mc-field-group">
												<label>Position </label>
												<input type="text" value="" name="position" required>
											</div>
											<div class="mc-field-group">
												<label>Bio </label>
												<textarea class="form" name="bio" required></textarea>
											</div>
											<div class="mc-field-group">
												<label>Group </label>
												<select class="form" name="group" required>
													<option value="ACM">ACM</option>
													<option value="ACM-W">ACM-W</option>
													<option value="Sponsor">Sponsor</option>
												</select>
											</div>
											<button class="form">New!</button>
                                        </div>
                                    </form>
                                </div>
							</center>
						</div>
					</div>
					<br>
					<br>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="/js/navbar.js"></script>
	</body>
</html>
